* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bungee Spice", sans-serif;
  font-family: "Dokdo", system-ui;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
