<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      label {
        display: flex;
      }
      label span {
        width: 80px;
      }
    </style>
  </head>
  <body>
    <form action="/register" method="post" enctype="multipart/form-data">
      <label>
        <span>아이디</span>
        <input type="text" name="userID" id="userID" />
      </label>

      <label>
        <span>비밀번호</span>
        <input type="password" name="userPW" id="userPW" />
      </label>

      <label>
        <span>이름</span>
        <input type="text" name="userName" id="userName" />
      </label>

      <label>
        <span>나이</span>
        <input type="number" name="userAGE" id="userAGE" />
      </label>

      <label>
        <span>프로필사진</span>
        <input type="file" id="userFile" name="userFile" />
      </label>
      <!--type="reset" 또는 onclick="reset()"하면 기본으로 재공 해준다-->
      <button type="reset">리셋타입</button>
      <button onclick="reset()">리셋함수</button>
      <button type="submit">회원가입</button>
    </form>
    <script></script>
  </body>
</html>
