* {
  margin: 0;
}

// header
.header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .menu-item {
    margin: 0 8px;
  }
}

// main page
.mainPage {
  background-color: #ffe5e3;
  min-height: 100vh;
}

// product page
.ProductPage {
  background-color: rgb(178, 209, 237);
  min-height: 100vh;
}

.ProductItem {
  color: brown;
  margin: 30px auto;
}
